<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>
</head>
<body>
    <h1>관리자 페이지</h1>
    <h2>상품 등록</h2>
    <form action="/add_product" method="post">
        <label for="name">상품명:</label>
        <input type="text" id="name" name="name" required><br><br>
        <label for="price">가격:</label>
        <input type="text" id="price" name="price" required><br><br>
        <label for="image">이미지 URL:</label>
        <input type="text" id="image" name="image" required><br><br>
        <label for="category">카테고리:</label>
        <input type="text" id="category" name="category"><br><br>
        <input type="submit" value="상품 등록">
    </form>

    <h2>구매 내역</h2>
    <ul>
        {% for purchase in purchases %}
            <li>
                <p>구매자: {{ purchase['user_id'] }}</p>
                <p>상품: {{ purchase['product_id'] }}</p>
                <p>구매 시간: {{ purchase['purchase_time'] }}</p>
                <p>결제 완료 여부: {{ purchase['payment_completed'] }}</p>
                <p>집 주소: {{ purchase['user_address'] }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
